/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Sep-2017, 13:11:05
    Author     : Think
*/
/*
 * Globals
 */

/* Links */
body
{
    margin: 0 auto;

}

nav
{
    background-color: #FD6BC6;
}

.container-fluid
{
    background-color: rgb(1, 1, 1, 0);
}

.btn
{
    border-radius: 25px;
    box-shadow: 0 0 5px black;
}

.form-control
{
    border-radius: 25px;

}

.jumbotron
{
    margin-top: 2.5%;
}
.row-head
{
    font-size: 22pt;
}
.row-table
{
    background-color: red;
}
.row-table-odd
{
    background-color: blue;
}
.row-table-select
{

}
.row-table-hover
{

}
.cell-head
{

}
.cell-table
{

}


nav
{
    box-shadow: 0 0 5px black;
}

.grow img{
    transition: 0.4s ease-in-out;
}

.grow img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

.badge
{
    transition: 0.4s ease-in-out;

}

.badge:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
