/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Sep-2017, 13:11:05
    Author     : Think
*/
/*
 * Globals
 */

/* Links */
body
{
    margin: 0 auto;
   
}

nav
{
    background-color: #FD6BC6;
}

.container-fluid
{
    background-color: rgb(1, 1, 1, 0);
}

.btn
{
    border-radius: 25px;
}

.form-control
{
    border-radius: 25px;
    border: 0;
}
